[submodule "themes/c3w-theme"]
	path = themes/c3w-theme
	url = https://github.com/c3wien/c3w-theme.git
	branch = master
[submodule "pages"]
	path = pages
	url = https://github.com/c3wien/c3w.at-pages.git
	branch = master
